EDGAR/py-edgar/test_output/
EDGAR/edgar-crawler-main/__pycache__
EDGAR/edgar-crawler-main/edgar-datasets/
EDGAR/edgar-crawler-main/logs/
EDGAR/.DS_Store
BE/api_key
BE/__pycache__
BE/docs_cache
BE/edgar-datasets
BE/testDB
BE/App/App/__pycache__
BE/App/__pycache__
.DS_Store
DART/OpenDartReader/dart_api_key.txt
chromadb-llamaindex/GPT_API_KEY.txt
.DS_Store
.idea

